node_modules
target
.vscode
.settings
.project
.classpath
webpack.generated.js
package-lock.json
package.json
webpack.config.js
/error-screenshots
drivers
.idea
types.d.ts
/frontend/generated
/frontend/index.html
vite.generated.ts