/.settings
/target
/.classpath
/.project
/node_modules
/frontend
/webpack.generated.js
/node
/drivers
/package-lock.json
/webpack.config.js
/package.json
/error-screenshots
/tsconfig.json
/.npmrc
/pnpm-lock.yaml
/pnpmfile.js
/types.d.ts
